.projects-container div:nth-child(3) {
  order: 1;
}

.projects-container div:nth-child(4) {
  order: 2;
}

.project-image {
  max-height: 300px;
  max-width: 100%;
}

.project-container {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .projects-container div:nth-child(3) {
    order: 2;
  }

  .projects-container div:nth-child(4) {
    order: 1;
  }

  .project-image {
    max-height: 250px;
  }
}

@media screen and (max-width: 768px) {
  .project-image {
    max-height: 200px;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideout {
  from {
    margin-right: 100%;
    width: 200%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}